header {
  margin-bottom: 20px;

  .hint {
    text-align: center;
  }

  p {
    color: #555;
    margin-bottom: 3px;
  }

  span {
    color: rgb(255, 140, 46);
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  margin-top: 15px;

  button {
    padding: 5px;
    background-color: #fff;
  }
}

.videoContainer {
  height: 500px;

  video {
    height: 100%;
  }
}
